__pycache__/
.mypy_cache/
*.py[cod]

cfg/
checkpoints/
wandb/
.vscode/

docker_build.sh
run-opt.sh
run.sh
run1.sh
run2.sh
run3.sh
run4.sh
run_pip.sh
runj.sh
todo.md

secrets.env

scratch.py

.ipynb_checkpoints/
Dockerfile

*.run.sh
