absl-py==2.0.0
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
apex==0.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
beautifulsoup4==4.12.2
bleach==6.1.0
blis==0.7.11
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.1
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
cmake==3.27.7
comm==0.2.0
confection==0.1.3
contourpy==1.2.0
cubinlinker==0.3.0+2.g711d153
cuda-python==12.3.0rc4+8.ge6f99b5
cudf==23.10.0
cugraph==23.10.0
cugraph-dgl==23.10.0
cugraph-service-client==23.10.0
cugraph-service-server==23.10.0
cuml==23.10.0
cupy-cuda12x==12.2.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.5
dask==2023.9.2
dask-cuda==23.10.0
dask-cudf==23.10.0
dataclasses-json==0.6.3
datasets==2.16.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.25.0
dill==0.3.7
distributed==2023.9.2
dm-tree==0.1.8
docker-pycreds==0.4.0
einops==0.7.0
exceptiongroup==1.1.3
execnet==2.0.2
executing==2.0.1
expecttest==0.1.3
faiss-gpu==1.7.2
fastjsonschema==2.19.0
fastrlock==0.8.2
filelock==3.13.1
flash-attn==2.4.2
flatbuffers==23.5.26
fonttools==4.45.0
frozenlist==1.4.0
fsspec==2023.10.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.23.4
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
graphsurgeon==0.4.6
greenlet==3.0.3
grpcio==1.59.3
h5py==3.10.0
huggingface-hub==0.20.2
hypothesis==5.35.1
idna==3.4
importlib-metadata==6.8.0
iniconfig==2.0.0
intel-openmp==2021.4.0
ipykernel==6.26.0
ipython==8.17.2
ipython-genutils==0.2.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter-tensorboard==0.2.0
jupyterlab==2.3.2
jupyterlab-pygments==0.2.2
jupyterlab-server==1.2.0
jupytext==1.15.2
kagglehub==0.1.4
keras==2.15.0
keras-core==0.1.7
keras-nlp==0.7.0
kiwisolver==1.4.5
langchain==0.1.0
langchain-community==0.0.9
langchain-core==0.1.7
langcodes==3.3.0
langsmith==0.0.77
lazy_loader==0.3
libclang==16.0.6
librosa==0.10.1
lightning-utilities==0.10.0
llvmlite==0.40.1
locket==1.0.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==3.0.2
mkl==2021.1.1
mkl-devel==2021.1.1
mkl-include==2021.1.1
ml-dtypes==0.2.0
mock==5.1.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.7
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==2.6.3
ninja==1.11.1.1
notebook==6.4.10
numba==0.57.1+1.gc2aae5dd0
numpy==1.24.4
nvfuser==0.0.21+gitunknown
nvidia-dali-cuda120==1.31.0
nvidia-pyindex==1.0.9
nvtx==0.2.5
oauthlib==3.2.2
onnx==1.14.1
opencv==4.7.0
opt-einsum==3.3.0
optree==0.10.0
packaging==23.2
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.1
pexpect==4.8.0
Pillow==9.2.0
pip==23.3.2
platformdirs==4.0.0
pluggy==1.3.0
ply==3.11
polygraphy==0.49.1
pooch==1.8.0
preshed==3.0.9
prettytable==3.9.0
prometheus-client==0.18.0
prompt-toolkit==3.0.41
protobuf==4.23.4
psutil==5.9.4
ptxcompiler==0.8.1+2.g4c26c4c
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pybind11-global==2.11.1
pycocotools==2.0+nv0.8.0
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.1
pylibcugraph==23.10.0
pylibcugraphops==23.10.0
pylibraft==23.10.0
pynvml==11.4.1
pyparsing==3.1.1
pytest==7.4.3
pytest-flakefinder==1.1.0
pytest-rerunfailures==12.0
pytest-shard==0.1.2
pytest-xdist==3.4.0
python-dateutil==2.8.2
python-hostlist==1.23.0
pytorch-quantization==2.1.2
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
raft-dask==23.10.0
referencing==0.31.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rmm==23.10.0
rpds-py==0.13.1
rsa==4.9
safetensors==0.4.1
scikit-learn==1.2.0
scipy==1.11.3
Send2Trash==1.8.2
sentry-sdk==1.39.1
setproctitle==1.3.3
setuptools==68.2.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sphinx-glpi-theme==0.4.1
SQLAlchemy==2.0.25
srsly==2.4.8
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tbb==2021.11.0
tblib==3.0.0
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.35.0
tensorflow-text==2.15.0
tensorrt==8.6.1
termcolor==2.4.0
terminado==0.18.0
thinc==8.2.1
threadpoolctl==3.2.0
thriftpy2==0.4.17
tinycss2==1.2.1
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.2.0a0+6a974be
torch-tensorrt==2.2.0a0
torchdata==0.7.0a0
torcheval==0.0.7
torchinfo==1.8.0
torchmetrics==1.2.1
torchtext==0.16.0a0
torchvision==0.17.0a0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
transformer-engine==1.0.0+66d91d5
transformers==4.36.2
treelite==3.9.1
treelite-runtime==3.9.1
triton==2.1.0+6e4932c
typer==0.9.0
types-dataclasses==0.6.6
typing_extensions==4.8.0
typing-inspect==0.9.0
ucx-py==0.34.0
uff==0.6.9
urllib3==1.26.18
wandb==0.16.1
wasabi==1.1.2
wcwidth==0.2.10
weasel==0.3.4
webencodings==0.5.1
Werkzeug==3.0.1
wheel==0.41.3
wrapt==1.14.1
xdoctest==1.0.2
xgboost==1.7.6
xxhash==3.4.1
yarl==1.9.2
zict==3.0.0
zipp==3.17.0
zstandard==0.22.0
